/*NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0202;
    color: white;
    padding: 10px;
}

.navbar-logo img {
    height: 40px;
    width: auto;
}

.navbar-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
}

.navbar-button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #555;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #777;
}

/*VIDEO CONTAINER*/

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporcje 16:9 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*LOGIN AND SIGN UP MODALS*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-container {
    position: relative;
    background: transparent;
    width: 400px;
    height: 440px;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;


}

.modal-container.active {
    height: 520px;
}

.form-box {
    box-sizing: border-box;
    width: 380px;
    padding: 40px;

}

.modal-container .form-box.login {
    /*transition: transform .18s ease;*/
    transform: translateX(0);

}

.modal-container.active .form-box.login {
    transition: none;
    /*position: absolute;*/
    transform: translateX(-450px);
}

.modal-container .form-box.register {
    position: absolute;
    /*width: 320px;*/
    padding: 40px;
    transition: none;
    transform: translateX(450px);
}

.modal-container.active .form-box.register {
    transition: none;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.form-box .register {
    position: absolute;
    /*width: 460px;*/
    transform: translateX(400px);

}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
    text-align: center;


}
input::placeholder {
    color: transparent;
}
.input-text {
    position: absolute;
    top: 50%;
    left: 7px;

    font-size: 1em;
    color: black;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.remember-forgot {
    font-size: .9em ;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.close-button {
    position: absolute;
    top: -11px;
    right: -30px;
    width: 45px;
    height: 45px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

