/*NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0202;
    color: white;
    padding: 10px;
}

.navbar-logo img {
    height: 40px;
    width: auto;
}

.navbar-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
}

.navbar-button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #555;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #777;
}

/*VIDEO CONTAINER*/

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporcje 16:9 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*LOGIN AND SIGN UP MODALS*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}