html {
    background-color: #f0f0f0;
}

body {

    margin: 0;
    overflow-x: hidden;




}

.container {
    position: relative;
    margin: 0 auto;
    top: 0px;
    max-width: 80vw;
    max-height: 80vh;
    overflow-x: hidden;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(5, minmax(220px, 1fr));
    row-gap: 10px;
    column-gap: 5px;
    padding-inline-start: 0;


}
/* Cards style  */
.card {
    list-style: none;
    width: 300px;
    height: 250px;
    color: #222;
    text-align: center;
}

/*.card:hover {*/
/*    background-color: white;*/
/*}*/

.card-title {
    position: relative;
    top: -30px;
    left: 0px;
    width: 100px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 19px;
    font-weight: bold;
    color: #303F9F;
}

.card-subtitle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: -90px;
    left: 170px;

}

.card-subtitle {
    margin-bottom: -9px;
    color: #fa6603;
    font-weight: lighter;
}
.card-id {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, rgba(255,166,0,1) 15%, rgba(23,170,221,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.card-id-wrapper {
    position: relative;
    top: -15px;
    left: 10px;
    width: 50px;

}

.card-image-wrapper{
    position: relative;
    background-color: #c0c4bd;
    width: 280px;
    height: 200px;
    border-radius: 15%;
    transition: transform 0.6s;
    transform-origin: center;
}

.card-image {
    position: absolute;
    left: 28%;
    top: 18%;
    height: 120px;
    width: 120px;
    border-radius: 10%;
}

/*Card rotate*/


.flip-card {
    height: 250px;
    z-index: 1;
    perspective: 1000px; /* Dodaj tę właściwość */
}

.flip-card-inner {
    position: relative;
    height: 250px;
    /*transition: transform 0.6s;*/
    /*transform-style: preserve-3d;*/
    /*width: 100%; !* Dodaj tę właściwość *!*/
}

.flip-card-front {
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-backface-visibility: hidden; !* dla Safari *!*/
    /*!*backface-visibility: hidden;*!*/
    height: 100%;
    width: 100%;
    transform: rotateY(0deg); /* Dodaj tę właściwość */
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: visible; /* dla Safari */
    backface-visibility: visible;
    height: 100%;
    width: 100%;
    /*transform: rotateY(180deg); !* Dodaj tę właściwość *!*/
}

.card-back {
    position: relative;
    width: 100%; /* Aktualizuj tę wartość */
    height: 100%; /* Aktualizuj tę wartość */
}

.card-image-wrapper.flipped {
    transform: rotateY(180deg);
}

/*.hidden {*/
/*    display: none;*/
/*}*/

.flip-card-back p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

/* button style */

.button {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%);
    bottom: 0px;
    width: 150px;
    height: 40px;
    padding: 8px 16px;
    background: #cc1b1b;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.button:active {
    background: #970000;
}

.button__text {
    font: bold 20px "Quicksand", san-serif;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/*Searchbar style*/

.search-container{
    position: relative;
    left: -50px;
    top: 50px;
    width: 390px;
    display: block;
    margin: 0 auto;
    border-radius: 150px;
}

input#search-bar{
    margin: 0 auto;
    border-radius: 50px;
    width: 100%;
    height: 35px;
    padding: 0px 60px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
&:focus{
     border: 1px solid #bf0000;
     transition: 0.35s ease;
     color: #bf0000;
&::-webkit-input-placeholder{
     transition: opacity 0.45s ease;
     opacity: 0;
 }
&::-moz-placeholder {
     transition: opacity 0.45s ease;
     opacity: 0;
 }
&:-ms-placeholder {
     transition: opacity 0.45s ease;
     opacity: 0;
 }
}
}

.search-icon{
    position: relative;
    width: 75px;
    height: 75px;
    top: -56px;

}

.filter-list{
    position: relative;
    width: 25px;
    height: 25px;
    top: -110px;
    left: 475px;

}


.filter-list:hover{
    opacity: 0.3;
}

#filter-list-window {
    display: none;
    position: fixed;
    background-color: whitesmoke;
    height: 300px;
    width: 500px;
    top: 10vh;
    left: 37.7vw;
    border-radius: 10px;
    z-index: 1;
    border: 2px solid grey;
}
#type-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-button {
    width: calc((100% - 60px) / 5);
    height: 20px;
    background-color: gray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    outline: 4px solid transparent;

}
.selected {
    outline: 4px solid lightgreen;
}

.filter-button.inactive {
    outline: none !important;
}

/*Filter button colors depends on type*/

.filter-button.normal { background-color: #A8A77A; }
.filter-button.fighting { background-color: #C22E28; }
.filter-button.flying { background-color: #A98FF3; }
.filter-button.poison { background-color: #A33EA1; }
.filter-button.ground { background-color: #E2BF65; }
.filter-button.rock { background-color: #B6A136; }
.filter-button.bug { background-color: #A6B91A; }
.filter-button.ghost { background-color: #735797; }
.filter-button.steel { background-color: #B7B7CE; }
.filter-button.fire { background-color: #EE8130; }
.filter-button.water { background-color: #6390F0; }
.filter-button.grass { background-color: #7AC74C; }
.filter-button.electric { background-color: #F7D02C; }
.filter-button.psychic { background-color: #F95587; }
.filter-button.ice { background-color: #96D9D6; }
.filter-button.dragon { background-color: #6F35FC; }
.filter-button.dark { background-color: #705746; }
.filter-button.fairy { background-color: #D685AD; }
.filter-button.unknown { background-color: #B3B3B3; }
.filter-button.shadow { background-color: #3C3C44; }

/* Dodatkowe style dla efektu najechania na przycisk */
.filter-button:hover {
    background-color: gray;
    color: white;
}

.filter-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-heading-line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

.filter-button.selected {
    background-color: orange;
}



/*Filter buttons style*/
.control-button-container {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.control-button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: white;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Dodajemy zmianę koloru */
    margin-top: 40px ;
    margin-left: 5px;
    margin-right: 5px;

}

.control-button-container button:hover {
    background-color: #fc0202; /* Kolor tła na czerwono */
    color: white; /* Kolor tekstu na biało */
    border-color: #fc0202; /* Kolor ramki na czerwono */
}

.control-button-container button:active {
    transform: scale(0.95); /* Skala zmniejsza się, imitując efekt naciśnięcia przycisku */
    transition: transform 0.1s; /* Dodajemy przejście dla efektu naciśnięcia */
}



/*Styling "no result message"*/

.no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.no-results-container img {
    width: 60%;
    height: 60%;
}

.no-results-container p {
    font-size: 24px;
    color: #FF4500;
    text-shadow: 2px 2px #FFD700;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/*Scroll styled*/

.container::-webkit-scrollbar {
    width: 10px;
}


.container::-webkit-scrollbar-track {
    background: #c0c4bd;
    border-radius: 10px;
}


.container::-webkit-scrollbar-thumb {
    background: rgba(255,166,0,1);
    border-radius: 10px;
}


.container::-webkit-scrollbar-thumb:hover {
    background: rgba(23,170,221,1);
}