<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Game</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



</head>
<body>
    <form class="search-container">
        <input type="text" id="search-bar" placeholder="      Search for pokemons!"/>
        <a href="#"><img class="search-icon" src="/images/search-icon.png"></a>
        <div id="filter-icon">
            <a href="#"><img class="filter-list" src="/images/filter.png" id="filter-list-button" onclick="showOrHide()"></a>
        </div>

    </form>
    <div id="filter-list-window" class="filter-container">
        <div class="filter-heading">
            <span class="filter-heading-line"></span>
            Type
            <span class="filter-heading-line"></span>
        </div>

        <div id="type-buttons-container">

        </div>

        <div class="control-button-container">
            <button id="reset-button">Reset</button>
            <button id="apply-button">Apply</button>
        </div>
    </div>

    <div class="container">
        <ul id="pokedex"></ul>
    </div>

    <button onclick="fetchPokemons()" class="button">
        <span class="button__text">Load More</span>
    </button>

<script src="../public/js/app.ts"></script>






</body>
</html>