<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<header>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="../main%20images/pokemon%20logo.png" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="#" class="navbar-link">Play Game</a>
            <a href="index.ejs" class="navbar-link">Pokedex</a>
            <a href="#" class="navbar-link">Gallery</a>
            <a href="#" class="navbar-link">About</a>
        </div>
        <div class="navbar-buttons">
            <button id="signup-button" class="navbar-button">Sign In</button>
        </div>
    </nav>
</header>
<body>
<div class="video-container">
    <video autoplay loop muted>
        <source src="../main%20images/videoplayback.mp4" type="video/mp4">
        <source src="video.webm" type="video/webm">
    </video>
</div>

<!-- Sign Up Modal -->
<div id="signup-modal" class="modal">
    <div class="modal-container">
        <div class="form-box login">
                <span class="close-button">
                    <ion-icon name="close"></ion-icon>
                </span>
            <h2>Login</h2>
            <form action="/api/users/login" method="POST">

                <div class="input-box">
                            <span class="icon">
                                <ion-icon name="mail"></ion-icon>
                            </span>
                    <input type="email" name="email" placeholder="Email" required>
                    <label class="input-text">Email</label>
                </div>
                <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                    <input type="password" name="password" placeholder="Password" required>
                    <label class="input-text">Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">
                        Remember me
                    </label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="login-btn">Log In</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>


        </div>


    <!--    Register Modal-->

        <div class="form-box register">
            <span class="close-button">
                <ion-icon name="close"></ion-icon>
            </span>
            <h2>Registration</h2>
            <form action="/api/users/register" method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" name="username" placeholder="Username" required>
                    <label class="input-text">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email"name="email" placeholder="Email" required>
                    <label class="input-text">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" name="password" placeholder="Password" required>
                    <label class="input-text">Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">
                        I agree to the terms & conditions
                    </label>
                </div>
                <button type="submit" class="login-btn">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>

    </div>
</div>


<script src="../public/js/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>